
<div class="container">

  <div class="card-deck mt-3">

    <div class="card mb-4">
      <div class="card-body">
        <h4 class="card-title">Data Logic</h4>
        <p class="card-text">Runs logic checks on data to report validity of data for analytics.</p>
        <button type="button" class="btn btn-light-blue btn-md" [routerLink]="['/apps/checks', tableId]">Apply</button>
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-body">
        <h4 class="card-title">Categorize</h4>
        <p class="card-text">Categorizes product descriptions in data using pre-defined taxonomy.</p>
        <button type="button" class="btn btn-light-blue btn-md">Apply</button>
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-body">
        <h4 class="card-title">Dedupe</h4>
        <p class="card-text">Using clustering methods to identify and deduplicate semantically similar data.</p>
        <button type="button" class="btn btn-light-blue btn-md" [routerLink]="['/apps/dedupe', tableId]">Apply</button>
      </div>
    </div>
  </div>

</div>
