<div class="container-fluid m-0 p-2">

  <div class="row m-2">
    <div class="col-md-12">
        <div class="card w-100">
          <!-- <h5 class="card-header">Spend Data</h5> -->
          <div class="card-body">

            <div class="d-flex">
              <div class="mr-auto p-2">
                <!-- <a href="#" style="font-weight:bold;">Download schema</a> -->
              </div>
              <div class="p-2">
              </div>
              <div class="p-2">
                  <app-upload></app-upload>
              </div>
            </div>

            <div class="d-flex bd-highlight mb-3" style="font-weight: bold;">
              <div class="p-2 bd-highlight">
                Files: {{ fileCount }}
              </div>
              <div class="p-2 bd-highlight">
              </div>
              <div class="ml-auto p-2 bd-highlight"></div>
            </div>

            <table class="table table-bordered">
              <tr>
                <th></th>
                <th>File Name</th>
                <th>Date Uploaded</th>
                <th>Rows</th>
                <th>Delete</th>
                <th>Data</th>
                <th>Actions</th>
              </tr>
              <tbody>
                <tr *ngFor = "let file of files; let i = index" [attr.data-index]="i">
                  <td>{{ i }}</td>
                  <td>{{ file.fileName }}</td>
                  <td>{{ file.date | date }}</td>
                  <td>{{ file.rows }}</td>
                  <td><button type="button" class="btn btn-danger btn-sm" (click)="delete(file._id)">Delete</button></td>
                  <td><button type="button" class="btn btn-success btn-sm" [routerLink]="['/view', file._id]">View</button></td>
                  <td><button type="button" class="btn btn-success btn-sm" [routerLink]="['/apps', file._id]">Next</button></td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
</div>
